<!--<p>您好, {{student.studentName}}</p>-->

<!--<div>-->
<!--  <span>您的姓名：</span>{{student.studentName}}-->
<!--</div>-->
<!--<div>-->
<!--  <span>您的学号：</span>{{student.id}}-->
<!--</div>-->
<!--<div>-->
<!--  <span>您的生日是：</span>{{student.studentBirthday | date:'yyyy年MM月dd日'}}-->
<!--</div>-->
<!--<div>-->
<!--  <span>您的性别是：</span>{{student.isMale | sex}}-->
<!--</div>-->
<!--<div>-->
<!--  <span>您的年龄是：</span>{{student.studentBirthday | age}}-->
<!--</div>-->

<!--<div>-->
<!--  <label>-->
<!--&lt;!&ndash;    数据和文本框双向绑定&ndash;&gt;-->
<!--    请输入学生姓名：-->
<!--    <input [(ngModel)] = "student.studentName" placeholder="请输入姓名">-->
<!--  </label>-->
<!--</div>-->


<h2>学生信息列表</h2>
<div>
  <label>
    学生姓名：<input #studentName/>
  </label>
<!--  新增学生，并且清空输入框-->
  <button (click)="add(studentName.value); studentName.value = ''">添加新学生</button>
</div>
<ul class="students">
  <li *ngFor="let student of students" (click)="onSelect(student)" [class.selected]="student == selectedStudent">
    <a routerLink="/detail/{{student.id}}">
      <span class="badge"> {{student.id}}</span> {{student.studentName}}
    </a>

    <button title = "删除学生" (click)="delete(student)">删除</button>
  </li>
</ul>

<!--就不会再显示详情-->
<!--<app-student-detail [selectedStudent]="selectedStudent"></app-student-detail>-->
<app-student-search></app-student-search>
